@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --link-primary-color: #0D3E5E;
  --link-hover-color: #f5f6fa;
  --link-active: #06022b;  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color:  #E5E5E5;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
}
/*Header*/
a {
  text-decoration: none;
  color: var(--link-primary-color);
}
.desktop-nav .btn {
width: 183px;
height: 50.58px;
color: #fff;
background: #00AFEF;
border-radius: 5px;
}
ul {
  list-style-type: none;
  text-transform: uppercase;
}

.fix-scroll {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  background: #fff;
  padding-top: 9px;
  z-index: 1000;
}

header .navigation-wrapper {
  max-width: 1400px;
  margin: auto;
}

header .navigation-wrapper .desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 6.875rem 0 6.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          height: 60px;
}

@media screen and (max-width: 1200px) {
  header .navigation-wrapper .desktop-nav {
    padding: 0 3rem 0 3rem;
  }
}

@media screen and (max-width: 530px) {
  header .navigation-wrapper .desktop-nav {
    padding: 0 1.5rem 0 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  header .navigation-wrapper .desktop-nav ul {
    display: none;
  }
  header .navigation-wrapper .desktop-nav svg {
    display: block;
  }
}

header .navigation-wrapper .desktop-nav ul li {
  display: inline-block;
  margin-right: 4.13rem;
}

header .navigation-wrapper .desktop-nav ul li a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1.125reem;
  line-height: 27px;
  padding: .7rem 1rem;
}

header .navigation-wrapper .desktop-nav ul li a span {
  position: absolute;
  width: 0;
  height: 8px;
  left: 0;
  bottom: 0;
  -webkit-transition: width .5s;
  transition: width .5s;
}

header .navigation-wrapper .desktop-nav ul li a:hover span,
header .navigation-wrapper .desktop-nav ul li a .active {
  width: 100%;
}

header .navigation-wrapper .desktop-nav ul li:last-child {
  margin-right: 0;
}

@media screen and (min-width: 900px) {
  header .navigation-wrapper .desktop-nav svg {
    display: none;
  }
}

.mobile-nav-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  padding-top: 50px;
  width: 300px;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: 500ms all ease-in-out;
  transition: 500ms all ease-in-out;
  background-color: #E5E5E5;
}

.mobile-nav-wrapper li {
  margin-bottom: 1rem;
}

.mobile-nav-wrapper button {
  position: absolute;
  top: 0.3rem;
  right: 2rem;
  outline: none;
  border: none;
  background: none;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--link-primary-color);
}

.mobile-nav-wrapper a {
  display: block;
  padding: 1rem 2rem;
  color: var(--link-primary-color);
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}
.mobile-nav-wrapper a .btn {
  width: 183px;
  height: 50.58px;
  left: 1117px;
  top: 40.14px;
  background: #00AFEF;
  border-radius: 5px;
}
.mobile-nav-wrapper a:hover {
  background: #122592;
  color: #FFFFFF;
}

.mobile-nav-wrapper.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* About Section */
.about-section-wrapper {
	padding: 78px 0;
}

.about-section-wrapper .about-section-contents {
	max-width: 1440px;
	margin: auto;
	padding: 0 6.875rem 0 6.4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) /* [2] */;
	grid-template-columns: 150px 4fr 4fr;
	grid-column-gap: 25px;
}
.about-section-wrapper .about-section-contents .about-section-text img {
  height: 100%;
  width: 80%;
}

.about-section-wrapper .about-section-contents .about-section-text h1 {
  font-size: 30px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #0D3E5E;
}

.about-section-wrapper .about-section-contents .about-section-text p{
font-size: 18px;
line-height: 27px;
letter-spacing: 0.01em;
color: #77869E;
}
@media screen and (max-width: 1200px) {
	.about-section-wrapper .about-section-contents {
		padding: 0 3rem 0 3rem;
	}
}

@media screen and (max-width: 1075px) {
	.about-section-wrapper .about-section-contents {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		grid-row-gap: 35px;
	}
}

@media screen and (max-width: 530px) {
	.about-section-wrapper .about-section-contents {
		padding: 0 1.5rem 0 1.5rem;
  }
  .custom-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}
.about-section-wrapper .about-section-contents .line{
  border-left: 1px solid #000;
}

.about-section-wrapper .about-section-contents .about-section-text h1 {
  padding-left: 20px;
	font-size: 45px;
	line-height: 59px;
	color: #0D3E5E;
	margin-bottom: 1.125rem;
}

.about-section-wrapper .about-section-contents .about-section-text p {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 27px;
	color: #77869E;
	margin-bottom: 24px;
}
@media screen and (max-width: 426px){
.about-section-wrapper .about-section-contents .about-section-text img {
  visibility: hidden;
}
.video-sect {margin: auto 0;}
.video-sect p{padding: 5px;}
}
/*Video Section*/
.video-container p{
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #0D3E5E;
  float: right;
  text-decoration: underline;
  padding-top: 5px;
}
.video-container{
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
/*Event Speakers Section*/
.speaker-section-wrapper {
	padding: 78px 0;
}

.speaker-section-wrapper .speaker-section-contents {
	max-width: 1440px;
	margin: auto;
	padding: 0 6.875rem 0 6.4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) /* [3] */;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
}

.speaker-section-wrapper .speaker-section-contents .speaker-section-text h1 {
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #0D3E5E;
}

.speaker-section-wrapper .speaker-section-contents .speaker-section-text p{
font-size: 18px;
line-height: 27px;
letter-spacing: 0.01em;
color: #77869E;
}
@media screen and (max-width: 1200px) {
	.speaker-section-wrapper .speaker-section-contents {
		padding: 0 3rem 0 3rem;
	}
}

@media screen and (max-width: 1075px) {
	.speaker-section-wrapper .speaker-section-contents {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
}

@media screen and (max-width: 530px) {
	.speaker-section-wrapper .speaker-section-contents {
		padding: 0 1.5rem 0 1.5rem;
  }
  .custom-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.speaker-section-wrapper .speaker-section-contents .speaker-section-text h1 {
  padding-left: 20px;
	font-size: 45px;
	line-height: 59px;
	color: #0D3E5E;
	margin-bottom: 1.125rem;
}

.speaker-section-wrapper .about-section-contents .about-section-text p {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 27px;
	color: #77869E;
	margin-bottom: 24px;
}

.speak h1 {
font-size: 48px;
line-height: 48px;
letter-spacing: 0.02em;
padding: 5% 0; 
color: #0D3E5E;
}
.speaker {
  background-color: #3A1900;
}
.speaker-name {
  height: 70px;
}
.speaker-name p {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  padding: 10px;
  color: #041825;
}
.card h2{
  padding: 10px 0;
  font-size: 24px;
line-height: 32px;
letter-spacing: 0.02em;
color: #041825;

}

.speaker1,
.speaker2,
.speaker3 {
  box-shadow: 3px 1px 5px rgba(38,18,20,0.12), 3px 1px 4px rgba(38,18,20,0.24);
  border: 1px solid #061C2A;;
  border-radius: 10px;
}

/*Event Schedule Section*/
.custom-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.event-section-wrapper {
	padding: 50px 0;
}
hr {
  margin: 20px 0;
}
.event-text h1{
  width: 210.14px;
height: 107.03px;
font-weight: 800;
font-size: 48px;
line-height: 55px;
padding-bottom: 20% 0;
letter-spacing: 0.02em;

color: #0D3E5E;
}

.event-section-wrapper .event-section-contents {
	max-width: 1440px;
	margin: auto;
	padding: 0 6.875rem 0 6.4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) /* [2] */;
	grid-template-columns: 1fr 4fr;
	grid-column-gap: 10px;
}
.event-section-wrapper .event-section-content {
	max-width: 1440px;
	margin: auto;
	padding: 0 6.875rem 0 6.4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) /* [2] */;
	grid-template-columns: 1fr 3fr 1fr;
	grid-column-gap: 10px;
}
.event-section-wrapper .event-section-contents .event-section-text h3,
.event-section-wrapper .event-section-content .event-section-text h3 {
font-weight: 600;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02em;
color: #0D3E5E;
}

.event-section-wrapper .event-section-contents .event-section-text p,
.event-section-wrapper .event-section-content .event-section-text p{
font-size: 18px;
line-height: 27px;
letter-spacing: 0.01em;
color: #77869E;
}
@media screen and (max-width: 1200px) {
  .event-section-wrapper .event-section-contents ,
  .event-section-wrapper .event-section-contents {
		padding: 0 3rem 0 3rem;
	}
}

@media screen and (max-width: 1075px) {
  .event-section-wrapper .event-section-contents,
  .event-section-wrapper .event-section-content {
		-ms-grid-columns: 100%;
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}
}

@media screen and (max-width: 530px) {
  .event-section-wrapper .event-section-contents,
  .event-section-wrapper .event-section-content {
		padding: 0 1.5rem 0 1.5rem;
  }
  .custom-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.event-section-wrapper .event-section-contents .event-section-text h1,
.event-section-wrapper .event-section-content .event-section-text h1 {
  padding-left: 20px;
	font-size: 45px;
	line-height: 59px;
	color: #0D3E5E;
	margin-bottom: 1.125rem;
}

.event-section-wrapper .event-section-contents .event-section-text p,
.event-section-wrapper .event-section-content .event-section-text p {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 27px;
	color: #77869E;
	margin-bottom: 10px;
}


/*Subscribe Section*/
.subscribe {
  background: #3C4A53;
  height: 450px;
  margin: 0 auto;
}
.subscribe-wrapper {
  
}
.subscribe-text {
  padding-top: 10%;
  width: 644px;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 25px;

}
 form input{
   background-color: #3C4A53;
   width: 600px;
   border: none;
   color: #E9E9E9;;
   border-bottom: 1px solid #E9E9E9;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.01em;
   margin: 0;
   padding: 0;
 }
 form button{
   color: #fff;
   background: #FF6F00;
   border-radius: 5px;
   border: none;
   width: 183px;
   height: 50.58px;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.01em;
 }
 @media (max-width: 770px) {
  form {
    /* order: -1; */
    margin-bottom: 3rem;
  }
  form input{
    width: 100%;
    padding: 1rem 1.5rem;
  }
  
  .subscribe-text {
    width: 40%;
  }

}

@media (max-width: 760px) {
  .subscribe-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
 form input{
   background-color: #3C4A53;
   width: 600px;
   border: none;
   color: #E9E9E9;;
   border-bottom: 1px solid #E9E9E9;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.01em;
   margin: 0;
   padding: 0;
 }
 form button{
   color: #fff;
   background: #FF6F00;
   border-radius: 5px;
   border: none;
   width: 183px;
   height: 50.58px;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.01em;
 }
}

@media (max-width: 450px) {
  form,
  form > input,
  form > textarea {
    margin: 1rem 0;
  }

  form {
    width: 80%;
    /* margin-bottom: 2rem; */
  }

  form > button {
    width: 100%;
  }
  .subscribe {
    padding: 5px;
    width: 100%;
  }
  .subscribe-text {
    width: 80%;
    font-size: 15px;
    margin-bottom: 2px;
    margin: auto 0;
  }
  .subscribe .subscribe-wrapper {
    padding: 10px;
    margin: auto 0;
  }
}

/*Footer Section*/
footer {
  margin: auto 0;
  color:#77869E;
  padding: 74px 0 98px;
}

@media screen and (max-width: 1075px) {
  footer {
    padding-bottom: 30px;
  }
}

footer .footer-wrapper {
  max-width: 1440px;
  padding: 0 6.875rem 0 6.4rem;
}

@media screen and (max-width: 1200px) {
  footer .footer-wrapper {
    padding: 0 3rem 0 3rem;
  }
}

@media screen and (max-width: 530px) {
  footer .footer-wrapper {
    padding: 0 1.5rem 0 1.5rem;
  }
}

footer .footer-wrapper .top-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1075px) {
  footer .footer-wrapper .top-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper .top-contents .about-us {
    text-align: center;
  }
}

footer .footer-wrapper .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-wrapper .links-wrapper .connect {
  margin-right: 100px;
}

@media screen and (max-width: 1075px) {
  footer .footer-wrapper .links-wrapper {
    min-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .footer-wrapper .links-wrapper .connect {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0;
  }
  footer .footer-wrapper .links-wrapper .flickers {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 631px) {
  footer .footer-wrapper .links-wrapper {
    min-width: 100%;
  }
}

@media screen and (max-width: 426px) {
  footer .footer-wrapper .links-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
 .video-container {
   width: 90%;
   height: 50%;
 }
}

footer .footer-wrapper h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
  color: #000000;
}

footer .footer-wrapper .about-us {
  max-width: 300px;
}

@media screen and (max-width: 1075px) {
  footer .footer-wrapper .about-us {
    max-width: 100%;
  }
}

footer .footer-wrapper .about-us a {
  display: inline-block;
  margin-bottom: 11px;
}

footer .footer-wrapper .about-us .about-text {
  width: 349px;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 20px;
}
footer .footer-wrapper .about-us .head-text {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 20px;
}
footer .footer-wrapper .about-us .country-text {
  
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 27px;
  margin-bottom: 20px;

}
footer .footer-wrapper .connect,
footer .footer-wrapper .flickers {
  padding-top: 49px;
}

footer .footer-wrapper .connect h3,
footer .footer-wrapper .flickers h3 {
  margin-bottom: 20px;
}

footer .footer-wrapper .connect li,
footer .footer-wrapper .flickers li {
  margin-bottom: 17px;
}

footer .footer-wrapper .connect li a,
footer .footer-wrapper .flickers li a {
  font-size: 1.125rem;
  line-height: 27px;
}

 .social-links {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 717px) {
   .social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-links p {
    text-align: center;
  }
  .social-icons {
    margin-top: 1rem;
  }
}

 .social-links p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.9);
}

 .social-icons li {
  display: inline;
  margin-right: 1.125rem;
}


